<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    form img {
        width: 200px;
        margin-bottom: 20px;
        margin-left: 200px;
    }

    label {
        font-weight: bold;
        color: #555;
    }

    input[type="text"],
    input[type="number"],
    select {
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    select:focus {
        border-color: #007BFF;
        outline: none;
    }

    button {
        padding: 10px;
        background-color: #007BFF;
        color: #fff;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    @media (max-width: 768px) {
        .container {
            margin: 20px;
            padding: 15px;
        }
    }
</style>
</head>

<body>
    <div class="container">
        <h1>Editar Produtos</h1>
        <form id="formCadastro" action="/editar" method="POST" enctype="multipart/form-data">

            <img src="../imagens/{{produto.imagem}}">
            <input type="hidden" name="nomeImagem" value="{{produto.imagem}}">

            <input type="hidden" name="id_produto" value="{{produto.id_produto}}">
            <label for="nome">Nome do Produto</label>
            <input type="text" id="nome" name="nome" value="{{produto.nome}}" placeholder="Digite o nome do produto"
                required>

            <label for="descricao">Descrição</label>
            <input type="text" id="descricao" name="descricao" value="{{produto.descricao}}"
                placeholder="Digite a descrição do produto">

            <label for="categoria">Categoria</label>
            <select id="categoria" name="categoria" value="{{produto.categoria}}" required>
                <option value="">Selecione a categoria</option>
                <option value="Eletronicos">Eletronicos</option>
                <option value="Vestuario">Vestuario</option>
                <option value="Farmacia">Farmacia</option>
                <option value="Eletrodomesticos">Eletrodomesticos</option>
            </select>

            <label for="preco">Preço (R$)</label>
            <input type="number" id="preco" name="preco" value="{{produto.preco}}" placeholder="Digite o preço"
                step="0.01" required>

            <label for="quantidade">Quantidade em Estoque</label>
            <input type="number" id="quantidade" name="quantidade" value="{{produto.quantidade}}"
                placeholder="Digite a quantidade" required>

            <label for="imagem">Foto</label>
            <input type="file" id="file" name="imagem" placeholder="Digite a URL da imagem">

            <button type="submit" value="Alterar">Cadastrar Produto</button>
            <a href="/listaProdutos">Cancelar</a>
        </form>
    </div>
</body>

</html>